.letters{
    
    width: 100%;
    height: 130px;
    background-color: white;
    
}

#c_letter{
    margin-left: 100px;
}

#line{
    border-top: 5px solid red;
    width: 50%;
    margin: 0 auto;
    border-bottom: 6px solid pink;
    padding: 15px;
    margin-bottom: 30px;
}

#line1{
    border-top: 3px solid green;
    width: 69%;
    margin: 0 auto;
    border-bottom: 6px solid black;
    padding: 15px;
    
    
}
.main{
    width: 100%;
    background-color: #414146;
}

#left{
    margin-top: 100px;
    margin-bottom: 100px;
}

#g1{
    margin: auto;
    width: 49%;
    display: flex;
    justify-content: center;
    float: left;
}

#g1 img{
    background-color: white;
}

#g1 img:hover{
    cursor: pointer;
    padding: 10px;
    border: 2px solid green;
    transition: all 0.3s ease;
    
}
#galerie{
    margin: auto;
    background-color: #414146;
    
}
#galerie span{
    display: flex;
    justify-content: center;
    font-size: 48px; 
    font-family: arial;
    font-weight: 800;
    color: #FFF;
    background-color: #2D2F2E;
    width: 300px;
    margin: auto;
    
}

#g2{
    margin: auto;
    width: 49%;
    display: flex;
    justify-content: center;
    float: right;
}

#g2 img{
    background-color: white;
}

#g2 img:hover{
    cursor: pointer;
    padding: 10px;
    border: 2px solid green;
    transition: all 0.3s ease;
    
}
