body{
    background-color: #2E2F2E;
}

#button{
    font-size: 36px;
    color: #FFFFFF;
    padding: 10px 10px;
    width: 400px;
    background-color: #37B24D;
    font-family: arial;
    margin: auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    
}

#button:hover{
    box-shadow: 2px 3px;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.main{
    margin: 50px auto;
    width: 90vw;
}

table{
    margin: auto;
}

table th{
    padding-top: 20px;
}

table th img:hover{
   cursor: pointer;
   transition: all 0.3s ease;
   transform: scale(1.1);
    
}
    

